---
layout: default
title: Farset Labs - Home
image: /assets/img/space/ground-floor-1.jpg
carousel:
 - image: /assets/img/carousels/frontpage/slide1.jpg
 - image: /assets/img/carousels/frontpage/slide2.jpg
 - image: /assets/img/carousels/frontpage/slide3.jpg
---
<div>
  <p>
    <b>Farset Labs</b>
    is a community funded and volunteer operated charity, opened in 2012 as a place for creativity and technological tinkering.
    We’re open to everyone, no matter what you want to do, and we welcome people from all walks of life to use our space,
    <a href="{{site.base}}/events">come to our events</a>, and get involved with the maker community in Northern Ireland.
    <a href="{{site.base}}/about/who_we_are">Read more about us!</a>
  </p>
</div>

<div class="row">
  <div class="small-12 columns">
    <fieldset class="block">
      <legend>
        <h4>Member Sign Up</h4>
      </legend>
      <div>
        <p class="text-center">Becoming a member of the Labs
          <a href="/about/facility">opens the doors to our resources and space</a>
          any time, as well as
          <a href="/events">free access to events</a>.
          Long-term desk rental is also available for members.
        </p>
      </div>
      <div class="membership-carousel">
        {% for tier in site.membership_tiers.monthly %}
          <div class="membership-tier">
            <div style="margin-bottom: 0.75rem;">
              <h3 style="margin-bottom: 0;">
                {{ tier.name }}
              </h3>
              <sub style="font-size: 85%;">
                £{{ tier.price }} per month
              </sub>
            </div>
            <div style="flex: 1;">
              <p style="margin-bottom: 1rem;">
                {{ tier.description }}
              </p>
            </div>
            <div>
              <ul>
                {% for benefit in tier.benefits %}
                  <li style="font-size: 0.95rem;">{{ benefit }}</li>
                {% endfor %}
              </ul>
            </div>
            <div>
              <a href="{{ tier.url }}" class="button expand round">
                <span style="font-weight: 700;">Join</span><br />
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
      <div style="font-size: 1.2em; padding: 20px; text-align: center;">
        Click <a href="https://farsetlabs.spaces.nexudus.com">here</a> to check out annual plans
      </div>
    </fieldset>

    <fieldset class="block">
      <legend>
        <h4>Desk Rental</h4>
      </legend>
      <div class="membership-carousel">
        {% for tier in site.desk_rental_tiers %}
          <div class="membership-tier">
            <div style="margin-bottom: 0.75rem;">
              <h3 style="margin-bottom: 0;">
                {{ tier.name }}
              </h3>
              <sub style="font-size: 85%;">
                £{{ tier.price }} per {% if tier.period == "monthly" %} month {% else %} year {% endif %}
              </sub>
            </div>
            <div style="flex: 1;">
              <p style="margin-bottom: 1rem;">
                {{ tier.description }}
              </p>
            </div>
            <div>
              <ul>
                {% for benefit in tier.benefits %}
                  <li style="font-size: 0.95rem;">{{ benefit }}</li>
                {% endfor %}
              </ul>
            </div>
            <div>
              <a href="{{ tier.url }}" class="button expand round">
                <span style="font-weight: 700;">Join</span><br />
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </fieldset>

    <fieldset class="block">
      <legend>
        <h4>Support Us</h4>
      </legend>
      <div>
        <p>If you’re not in a position to make regular use of the space but still want to support us, consider signing up as a Friend of Farset! Your donations will go towards the upkeep of the space and its community and if you want to support anything in particular, you can say so in the form!</p>
        <div class="columns">
          <form class="text-center" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="margin: 0;">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="6E5VFUY63DKLS">
            <input type="hidden" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
            <input type="submit" name="submit" class="button round expand" value="Support us via PayPal">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1" style="float: right;">
          </form>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="small-12 medium-6 columns">
    <fieldset class="block">
      <legend>
        <h4>Upcoming Events</h4>
      </legend>
      <iframe frameborder="0" height="240" scrolling="no" src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=200&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=farsetlabs.org.uk_srmqnkn373auq51u00s2nijrq8%40group.calendar.google.com&amp;color=%235F6B02&amp;ctz=Europe%2FLondon" style=" border-width:0 " width="318"></iframe>
      <p class="text-right">
        <a href="{{site.base}}/events">More Events...</a>
      </p>
    </fieldset>
  </div>

  <div class="small-12 medium-6 columns">
    <fieldset class="block">
      <legend>
        <h4>Contact Us</h4>
      </legend>
      <dl>
        <dt>Email</dt>
        <dd>
          <a href="mailto:info@farsetlabs.org.uk">info@farsetlabs.org.uk</a>
        </dd>
        <dt>Address</dt>
        <dd>
          <address>
            Farset Labs<br>
            1 Weavers Court Business Park<br/>
            Linfield Road<br/>
            Belfast BT12 5GH<br/>
          </address>
        </dd>
      </dl>
    </fieldset>
  </div>
</div>
