---
layout: default
title: Farset Labs - News
---

<ul class="block-list news-items">
{% for post in paginator.posts %}
<li>
    <section class="news-item">
        <div class="news-item-content">
            <h2 class="news-item-title"><a href="{{site.base}}{{ post.url }}">{{ post.title }}</a></h2>
        <h4 class="subheader">Posted by {%if post.author %}{{post.author}}{%else%}Farset Labs{%endif%} on <span class="date">{{post.date | date:"%-d %B %Y"}}</h4> 
            <div class="news-item-body">
                <div class="user-content">
                    {%if post.image_url %}
                        <img src="{{site.base}}{{post.image_url}}" class="news-item-thumb" />
                    {%endif%}
                    {%  if post.content contains "<!-- more -->" %}
                    {{ post.content | split:"<!-- more -->" | first }}
                    {% else %}
                    {{ post.content | truncatewords:200 }} ...
                    {% endif %}
                </div>
            </div>
        </div>

        <p>
        <a class="button" href="{{site.base}}{{post.url}}">Read More &rsaquo;&rsaquo;</a>
        </p>
    </section>
</li>
{% endfor %}
</ul>

<!-- Pagination links -->
<nav class="pagination">
  {% if paginator.previous_page %}
    <a href="{{site.base}}/news/page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{site.base}}/news/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</nav> 

