---
layout: default
title: BUILDS - News
---

<div id="news">
	{% for post in paginator.posts %}
	 <div class='row-fluid news-item'>
	  <h1><a href="{{site.base}}{{ post.url }}">{{ post.title }}</a></h1>
	  <p class="author">

	    
	    Posted by {%if post.author %} {{post.author}} {%else%} BUILDS {%endif%} on <span class="date">{{ post.date | date: "%m/%d/%Y"}}</span> 
	  </p>
	  <div class="content">
	  		{%if post.image_url %}
	  		<center>
		  		<img src="{{site.base}}{{post.image_url}}" class="thumbnail" style="width:auto;height:200px"/>
		  	</center> <br />
		  	{%endif%}
            {%  if post.content contains "<!-- more -->" %}
            {{ post.content | split:"<!-- more -->" | first }}
            {% else %}
            {{ post.content | strip_html | truncatewords:200 }} ...
            {% endif %}

            <br />
            <center>
	            <a class="btn btn-danger" href="{{site.base}}{{post.url}}">Read More &rsaquo;&rsaquo;</a>
	        </center>
	  </div>
	 </div>
	{% endfor %}

	<!-- Pagination links -->
	<div class="pagination">
	  {% if paginator.previous_page %}
	    <a href="{{site.base}}/news/page{{ paginator.previous_page }}" class="previous">Previous</a>
	  {% else %}
	    <span class="previous">Previous</span>
	  {% endif %}
	  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
	  {% if paginator.next_page %}
	    <a href="{{site.base}}/news/page{{ paginator.next_page }}" class="next">Next</a>
	  {% else %}
	    <span class="next ">Next</span>
	  {% endif %}
	</div> 

</div>