<div id="builds-carousel" class='carousel slide'>
  <div class='carousel-inner'>
    {% for item in site.tags.front %}
    <div class="item {% if forloop.index0 == 0 %} active {% endif %}">
      <div class="container ">
        <div class="row-fluid">
          <div class="span4 text-center">
            <center>
            <a href="{{site.base}}{{item.url}}">
              {% if item.image_url %}
              <img src="{{site.base}}{{item.image_url}}" class="thumbnail carousel-img" />
              {% else %}
              <img src="{{site.base}}/assets/img/posts/default.jpg" class='thumbnail carousel-img'/>
              {% endif %}
            </a>
          </center>
          </div>
          <div class="span7  carousel-post">
            <h2><a href="{{site.base}}{{item.url}}">{{item.title}}</a></h2>
            {%  if item.content contains "<!-- more -->" %}
            {{ item.content | split:"<!-- more -->" | first }}
            {% else %}
            {{ item.content | strip_html | truncatewords:200 }} ...
            {% endif %}
            <a class="btn btn-danger" href="{{site.base}}{{item.url}}">Read More &rsaquo;&rsaquo;</a>
          </div>
        </div>
      </div>
    </div> <!-- end item -->
    {% endfor %}
  </div> <!-- end carousel-inner -->
  <a class="left carousel-control" data-slide="prev" href="#builds-carousel">&lsaquo;</a>
  <a class="right carousel-control" data-slide="next" href="#builds-carousel">&rsaquo;</a>
</div> <!-- end builds-carousel -->
