<div class="span4 sidebar">
  <div class="sidebar-events sidebar-item  first row-fluid">
    <h4>Upcoming Events</h4>
    
    <iframe src="https://www.google.com/calendar/embed?showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=ttub0pskjfclvhdsjkgfbo69m0%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FNew_York" style=" border-width:0 " width="100%" height="200" frameborder="0" scrolling="no"></iframe>

    <div class="text-center" >
      <a class="btn btn-small" href="{{site.base}}/events"> 

        Goto calendar &rsaquo;&rsaquo;
      </a>
    </div>

  </div> <!-- end sidebar-events -->

  <div class="sidebar-location sidebar-item row-fluid">
    <h4>Contact Us</h4>
    <p><strong>Email:</strong> acm@bu.edu</p>
    <p><strong>Address:</strong> <a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=111+Cummington+St,+Boston,+MA&aq=0&oq=111+Cummington&sll=42.35366,-71.106691&sspn=0.035837,0.076818&vpsrc=0&ie=UTF8&hq=&hnear=111+Cummington+St,+Boston,+Suffolk,+Massachusetts+02215&t=m&z=16" target="_blank">111 Cummington St Rm. B26, Boston MA 02215</a></p> 

    <center>
      <div class="btn-group">
        <a href="https://www.facebook.com/groups/438143755634/" class="btn btn-small btn-danger">
          Facebook
        </a>
      </div>
    </center>
  </div> <!-- end sidebar-location -->

  <div class="sidebar-mailinglist sidebar-item row-fluid">
    <h4>Join Mailing List</h4>

    <p>Insert instructions for joining mailing list</p>
  </div> <!-- end sidebar-mailinglist -->


  <div class="sidebar-links sidebar-item last row-fluid">
    <h4>Links</h4>
    <ul>
      <li><a href="#">BU</a></li>
      <li><a href="#">BU SAO</a></li>
      <li><a href="#">Artisan's Asylum</a></li>
      <li><a href="#">MITERS</a></li>
      <li><a href="#">Sprout</a></li>
      <li><a href="#">DIY BIO</a></li>
      <li><a href="#">hackerspaces.com</a></li>
      <li><a href="#">Hack-A-Day</a></li>
    </ul>
  </div>
        </div> <!-- end sidebar -->