---
layout: default
title: About
category: nav
weight: 1
haschildren: True
---

<h2>About Farset Labs</h2>
		{% capture about_farset %}
			{% include pages/about_farset.md %}
		{% endcapture %}
		{{ about_farset | unindent | markdownify }}
	<hr/>
<h2>Current Management Board</h2>

<h3 id="directors">Directors</h3>
<p>Farsets Directors are legally, fiscally, and socially responsible for the strategic health and operation of the Labs</p>
{% assign sorted_officers = site.officers | sort:"year" %}
  {% for officer in sorted_officers reversed %}
    {% if officer.title contains "Director" %}
    <div class="block row">
        <div class="small-3 columns th-container">
          <img class="th" src="{{site.base}}/assets/img/profiles/{{officer.username}}.jpg" class="headline-image" />
          <ul class="inline-icons inline-list right">
            {% if officer.github %}<li><a href="//www.github.com/{{officer.github}}"><small><i class="social foundicon-github"></i></small></a>{% endif %}
            {% if officer.twitter %}<li><a href="//www.twitter.com/{{officer.twitter}}"><small><i class="social foundicon-twitter"></i></small></a></li> {% endif %}
            {% if officer.facebook %}<li><a href="//www.facebook.com/{{officer.facebook}}"><small><i class="social foundicon-facebook"></i></small></a></li>{% endif %}
            {% if officer.flickr %}<li><a href="//www.flickr.com/{{officer.flickr}}"><small><i class="social foundicon-flickr"></i></small></a></li>{% endif %}
        {% if officer.website %}<li><a href={{officer.website}}><small><i class="general foundicon-website"></i></small></a></li>{% endif %}
      {% if officer.linkedin %}<li><a href="//www.linkedin.com/in/{{officer.linkedin}}"><small><i class="social foundicon-linkedin"></i></small></a></li>{% endif %}
          </ul>

        </div>
        <div class="small-9 columns">
            <h4>{{officer.name}}</h4>
            <h5 class="subheader">{{officer.title}} ({{officer.year}} )</h5>
            {{ officer.blurb | unindent | markdownify }}
            <ul class="small button-group round right">
              {% if officer.email %}<li><a class="small button" href="mailto:{{officer.email}}">{{officer.email}} <i class="general foundicon-mail"></i></a></li>{% endif %}
              {% if officer.discourse %}<li><a class="small button" href="{{site.social.forum}}users/{{officer.discourse}}">Get in touch <i class="social foundicon-torso" style="height:51px"></i></a></li>{% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
{% endfor %}
<hr/>
<h3 id="nems">Non Executive Managers</h3>
<p>Non-Executive Managers (NEMs) are the primary Points of Contact (PoC) for certain areas, equipment, and activities within the day-to-day operation of the space.</p>
{% assign sorted_officers = site.officers | sort:"year" %}
  {% for officer in sorted_officers %}
    {% unless officer.title contains "Director" %}
    <div class="block row">
      <div class="small-3 columns th-container">
        <img class="th" src="{{site.base}}/assets/img/profiles/{{officer.username}}.jpg" class="headline-image" />
        <ul class="inline-icons inline-list right">
          {% if officer.github %}<li><a href="//www.github.com/{{officer.github}}"><small><i class="social foundicon-github"></i></small></a>{% endif %}
          {% if officer.twitter %}<li><a href="//www.twitter.com/{{officer.twitter}}"><small><i class="social foundicon-twitter"></i></small></a></li> {% endif %}
          {% if officer.facebook %}<li><a href="//www.facebook.com/{{officer.facebook}}"><small><i class="social foundicon-facebook"></i></small></a></li>{% endif %}
          {% if officer.flickr %}<li><a href="//www.flickr.com/{{officer.flickr}}"><small><i class="social foundicon-flickr"></i></small></a></li>{% endif %}
          {% if officer.website %}<li><a href={{officer.website}}><small><i class="general foundicon-website"></i></small></a></li>{% endif %}
          {% if officer.linkedin %}<li><a href="//www.linkedin.com/in/{{officer.linkedin}}"><small><i class="social foundicon-linkedin"></i></small></a></li>{% endif %}
        </ul>

      </div>
        <div class="small-9 columns">
            <h4>{{officer.name}}</h4>
            <h5 class="subheader">{{officer.title}} ({{officer.year}} )</h5>
            {% if officer.blurb %}
              {{ officer.blurb | unindent | markdownify }}
            {% endif %}
            <ul class="small button-group round right">
              {% if officer.email %}<li><a class="small button" href="mailto:{{officer.email}}">{{officer.email}} <i class="general foundicon-mail"></i></a></li>{% endif %}
              {% if officer.discourse %}<li><a class="small button" href="{{site.social.forum}}users/{{officer.discourse}}">Get in touch <i class="social foundicon-torso" style="height:51px"></i></a></li>{% endif %}
            </ul>
            
        </div>
    </div>
    {% endunless %}
{% endfor %}

<div class="block row">
    <div class="small-12 columns">
    For more information about the roles and responsibilities of the officers of Farset Labs, see the <a href="/about/ops_manual.html">Ops Manual</a>
    </div>
</div>

<hr/>

<h2>Farset Labs Former Officers</h2>
<div class="block row">
    <div class="small-12 columns">
		<p>All former officers are listed with last office held</p>
		<ul>
			<li>Ellen Murray: Director/Founder (2011-2013)</li>
			<li>Ben Bland: Director (2013-2014)</li>
		</ul>
    </div>
</div>
		
<h2>Acknowledgements</h2>

<div class="block row">
    <div class="small-12 columns">
      <p>Farset Labs would like to thank our membership for making the world a more interesting place.</p>

      <p>We would like to thank our <a href="/membership/corporates.html">corporate members</a>, who are actively encouraging the next generation of experimenters and revolutionaries; Intel, ABPNI Computer Solutions, Tibus, and in particular Weavers Court Business Park, for believing in us from day one.</p>
    </div>
  </div>

