.fsl-purple {
  color:#353895;
}

.fsl-green {
  color:#99ca3c;
}

a {
  color:#353895;
}
a:hover{
  color:#6467c8;
}

.button {
  background-color:#353895;
}
.button:hover{
  background-color:#6467c8;
}



.attribution a{
  color:#99ca3c;
}
.attribution a:hover{
  color:#b1d76a;
}

// FLEXSLIDER 
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  { outline: none; }
 
.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.flexslider a img { outline: none; border: none; }
 
.flexslider {
    margin: 0;
    position: relative;
    zoom: 1;
    padding: 10px;
    background: #ffffff;
 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
 
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0, .2);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0, .2);
    box-shadow: 0px 1px 1px rgba(0,0,0, .2);
}
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
 
.flexslider .slides img {
    width: 100%;
    display: block;
 
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


.flex-direction-nav a {
    display: block;
    position: absolute;
    margin: -17px 0 0 0;
    width: 35px;
    height: 35px;
    top: 50%;
    cursor: pointer;
    text-indent: -9999px;
 
    background-color: #bfab8b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bfab8b), to(#f5e2c1));
  background-image: -webkit-linear-gradient(top, #bfab8b, #f5e2c1);
  background-image: -moz-linear-gradient(top, #bfab8b, #f5e2c1);
  background-image: -o-linear-gradient(top, #bfab8b, #f5e2c1);
  background-image: linear-gradient(to bottom, #bfab8b, #f5e2c1);
}
.flex-direction-nav a:before {
  display: block;
  position: absolute;
  content: '';
  width: 9px;
  height: 13px;
  top: 11px;
  left: 11px;
  background-image:
        linear-gradient(-45deg, #dac6a6 4px, transparent 4px),
        linear-gradient(-135deg, #dac6a6 4px, transparent 4px),
        linear-gradient(-45deg, #69604f 6px, transparent 6px),
        linear-gradient(-135deg, #69604f 6px, transparent 6px);

}

.flex-direction-nav a.flex-prev:before {
  background-image:
        linear-gradient(45deg, #dac6a6 4px, transparent 4px),
        linear-gradient(135deg, #dac6a6 4px, transparent 4px),
        linear-gradient(45deg, #69604f 6px, transparent 6px),
        linear-gradient(135deg, #69604f 6px, transparent 6px);
}

.flex-direction-nav a:before {
    display: block;
    position: absolute;
    content: '';
    width: 9px;
    height: 13px;
    top: 11px;
    left: 11px;
    background: url(../img/arrows.png) no-repeat;
}


html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }

.google-maps {
position: relative;
padding-bottom: 75%; // This is the aspect ratio
height: 0;
overflow: hidden;
}
.google-maps iframe {
position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;
}

.center {
    text-align:center;
    width: 300px;
    margin: 0 auto;
}