/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

a { 
color: #cc2200;}
.logo {
  color:#fff !important;
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  font-size: xx-large !important;
  font-weight: bold !important;
}

.logo-red {
  color:#cc2200;
}

.sidebar {
  background-color: #f5f5f5;
  padding: 10px 25px;

  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  }
  .sidebar-item {
    padding-bottom:10px;
    padding-top:5px;
    border-bottom-color:#e3e3e3;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    }
    .sidebar-item.first{
      padding-top:0px !important;
    }
    .sidebar-item.last {
      border-bottom-width: 0px !important;
      paddig-bottom:0px !important;
      }


.footer {
  border-top-style:solid;
  border-top-color:#e3e3e3;
  border-top-width: 1px;
  margin-top:15px;
  padding-top: 10px;
  margin-bottom:10px;
  }
#builds-carousel {
  margin-top: 40px;
  min-height:260px;
  padding-bottom: 10px;
  background-color: #f5f5f5;
  border-bottom-color: #e3e3e3;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom:-30px;
  }
  #builds-carousel .item{ 
    min-height: 200px; 
    margin-top:25px;
    margin-bottom:25px;
    margin-left:75px;
    margin-right:75px;
  }
  #builds-carousel .item .carousel-img {
    max-height: 150px;
  }

.carousel-post p { line-height:125% !important;}

.officers {

  }
  .officers .officer {
    padding-bottom: 20px;
  }

.row-fluid .mobile-one {
  width: 31.491712707182323%;
  *width: 31.43852121782062%;
}

.row-fluid .mobile-three {
  width: 65.74585635359117%;
  *width: 65.69266486422946%;
}

.row-fluid .mobile-two {
  width: 48.61878453038674%;
  *width: 48.56559304102504%;
}

.row-fluid .mobile-one,
.row-fluid .mobile-two,
.row-fluid .mobile-three {
  float:left;
  margin-left: 2.7624309392265194%;
  *margin-left: 2.709239449864817%;
}