<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="{{site.base}}/assets/css/syntax.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{site.base}}/assets/css/bootstrap.min.css">

    <!-- Bootstrap Responsive CSS -->
    <link rel="stylesheet" href="{{site.base}}/assets/css/bootstrap-responsive.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{site.base}}/assets/css/main.css">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" >
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class='brand logo' href="{{site.base}}/"><span class='logo-red'>BU</span>ILDS</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{{site.base}}/">Home</a></li>
              <li><a href="{{site.base}}/about">About</a></li>
              <li><a href="{{site.base}}/events">Events</a></li>
              <li><a href="http://www.builds.cc/wiki" target="_blank">Wiki</a></li>
              <li><a href="{{site.base}}/acknowledgements">Acknowledgements</a></li>
              <li><a href="{{site.base}}/news">News</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div> <!-- end nav -->
    <!-- Set carousel: true in YAML text header for pages to get carousel -->
    {% if page.carousel %}
    <div id="builds-carousel" class='carousel slide'>
      <div class='carousel-inner'>
        <div class='item active'>
          <div class="container ">
            {% for item in site.tags.front limit: 1%}
            <div class="row-fluid">
              <div class="span4 text-center">
                <center>
                <a href="{{site.base}}{{item.url}}">
                  {% if item.image_url %}
                  <img src="{{site.base}}{{item.image_url}}" class="thumbnail carousel-img" />
                  {% else %}
                  <img src="{{site.base}}/assets/img/posts/default.jpg" class='thumbnail carousel-img'/>
                  {% endif %}
                </a>
              </center>
              </div>
              <div class="span7  carousel-post">
                <h2><a href="{{site.base}}{{item.url}}">{{item.title}}</a></h2>
                {%  if item.content contains "<!-- more -->" %}
                {{ item.content | split:"<!-- more -->" | first }}
                {% else %}
                {{ item.content | strip_html | truncatewords:200 }} ...
                {% endif %}
                <a class="btn btn-danger" href="{{site.base}}{{item.url}}">Read More &rsaquo;&rsaquo;</a>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="container" style="background-color:white; margin-top:50px">
      <div class="main row-fluid">
        <div class="span8 main-content">
          {{ content }}
        </div> <!-- end content -->

        {% include sidebar.html %}


      </div> <!-- end main -->

      <div class="footer row-fluid">
        <div class="span4">Copyright  &copy; BUILDS 2013</div>
        <div class="span4">Report Issues or Contribute on <a href="https://github.com/BUILDS-/builds-static">Github</a></div>
        <div class="span4 text-right pull-right">Powered by <a href="http://getbootstrap.com/2.3.2/">Bootstrap 2.3.2</a> and <a href="http://jekyllrb.com">Jekyll</a></div>
      </div> <!-- end footer -->
    </div> <!-- end container -->
    <script src="{{site.base}}/assets/js/jquery-1.10.2.min.js" ></script>
    <script src="{{site.base}}/assets/js/bootstrap.js" ></script>
    <script src="{{site.base}}/assets/js/bootstrap-carousel.js" ></script>

    <script>
      $(function(){
        // carousel demo
        $('#builds-carousel').carousel()
      })
    </script>
    {% include google_analytics.html %}
  </body>
</html>
