<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" http-equiv="encoding">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{site.keywords}}">
    <meta name="description" content="{{site.description}}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.social.twitter }}">
    <meta name="twitter:creator" content="@{{ site.social.twitter }}">
    {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
    <meta name="twitter:image:src" content="{{ site.url }}/assets/img/{{ page.image }}">
    {% else %}
    <meta name="twitter:image:src" content="{{ site.url }}/assets/img/logo.png">
    {% endif %}

    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="{{site.base}}/assets/img/favicon.ico">
    <link rel="stylesheet" href="{{site.base}}/assets/foundation/css/normalize.css">
    <link rel="stylesheet" href="{{site.base}}/assets/foundation/css/foundation.min.css">
    <link rel="stylesheet" href="{{site.base}}/assets/foundation/css/general_foundicons.css">
    <link rel="stylesheet" href="{{site.base}}/assets/foundation/css/social_foundicons.css">
    <link rel="stylesheet" href="{{site.base}}/assets/foundation/css/accessibility_foundicons.css">
    <link rel="stylesheet" href="{{site.base}}/assets/iridium/iridium.css">
    <link rel="stylesheet" href="{{site.base}}/assets/css/fsl-style.css">
    <script src="{{site.base}}/assets/foundation/js/vendor/jquery.js"></script>
    <script src="{{site.base}}/assets/foundation/js/vendor/custom.modernizr.js"></script>
    {% if page.carousel %}
    <!-- Flexslider Library  -->
    <script src="/assets/js/jquery.flexslider-min.js"></script>
    <!-- Initialisation Code  -->
    <script src="/assets/js/slider.js"></script>
    {% endif %}
    {% include google_analytics.html %}
</head>
<body>
    <div id="page-wrap">
        <div id="banner-wrap">
            <div class="row">
                <div class="small-6 columns">
                    <h1 class="banner"><a href="/"><span class="fsl-purple">Farset</span><span class="fsl-green">Labs</span><small class="subheader"> BELFAST</small></a></h1>
                </div>
                <div class="small-6 columns">
                    <ul class="inline-icons inline-list right">
                      <li><a href="//www.github.com/{{site.social.github}}" rel="publisher"><i class="social foundicon-github"></i></a></li>
                      <li><a href="//www.twitter.com/{{site.social.twitter}}" rel="publisher"><i class="social foundicon-twitter"></i></a></li>
                      <li><a href="//www.facebook.com/{{site.social.facebook}}" rel="publisher"><i class="social foundicon-facebook"></i></a></li>
                      <li><a href="https://plus.google.com/+{{site.social.gplus}}" rel="publisher"><i class="social foundicon-google-plus"></i></a></li>
                      <li><a href="//www.flickr.com/{{site.social.flickr}}"><i class="social foundicon-flickr"></i></a></li>
                      <li><a href={{site.social.blogfeed}}><i class="social foundicon-rss"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
         <a href="https://github.com/FarsetLabs/farsetlabs.github.io/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork us on GitHub"></a>
        <div id="primary-nav">
            <div class="row">
                <div class="small-12 columns">
                    <div class="contain-to-grid sticky">
                    <nav class="top-bar" data-topbar>
                        <section class="top-bar-section">
                            <ul class="title-area">
                              <li class="name">
                                <a href="{{site.base}}/">Home</a>
                              </li>
                              <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
                            </ul>                     
                            <ul class="right">
                              {% assign sorted_pages = site.pages | sort:"name" %}
                                {% for weight in (1..10) %}
                                  {% for p in sorted_pages %}
                                    {% if p.category == "nav" and p.weight == weight %}
                                      {% if p.haschildren %}
                                      <li class="has-dropdown name">
                                        <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
                                            {{ p.title }}
                                          </a>
                                        <ul class="dropdown">
                                          {% for child in sorted_pages | sort:"name" %}
                                            {% if child.parent == p.title %}
                                              <li><a href={{child.url}}>{{child.title}}</a></li>
                                            {% endif %}
                                          {% endfor %}
                                        </ul>
                                      </li>
                                      {% else %}
                                      <li>
                                        <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
                                          {% if p.icon %}<i class="{{p.icon}}"></i>{% endif %}
                                          {{ p.title }}
                                        </a>
                                      </li>
                                      {% endif %}
                                    {% endif %}
                                  {% endfor %}
                                {% endfor %}

                                {% for link in site.links %}
                                  {% if link.list %}
                                  <li class="has-dropdown">
                                    <a href="#">{{link.name}}</a>
                                    <ul class="dropdown">
                                      {% for item in link.list %}
                                      <li><a href={{item.url}}>{{item.name}}</a></li>
                                      {% endfor %}
                                    </ul>
                                  </li>
                                    {% else %}
                                    <li><a href={{link.url}}>{{link.name}}</a></li>
                                  {% endif %}

                                {% endfor %}
                            </ul>
                        </section>
                    </nav>
                    </div>
                </div>
            </div>
        </div>
        <section id="page-content" class="content">
          {% if page.carousel %}
          <div class="row">
            <div class="flex-container">
              <div class="flexslider">
                <ul class="slides">
                  {% for slides in page.carousel %}
                  <li>
                  <img src="{{ slides.image }}">
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %}

            <div class="row">
                <div class="small-12 columns">
                  {% if page.toc %}
                  <dl class="accordion" data-accordion>
                    <dd>
                      <a href="#toc">Table of Contents</a>
                      <div id="toc" class="content toc"></div>
                    </dd>
                  </dl>
                  {% endif %}
                                       {{content}}
                </div>
            </div>
        </section>
    </div>
    <footer id="footer">
        <section class="attribution">
        <div class="row">
            <div class="small-6 columns">
              {% capture footer %}
                {% include pages/footer.md %}
              {% endcapture %}
              {{ footer | unindent | markdownify }}
            </div>
            <div class="small-6 columns text-right">
<a href="http://jekyllrb.com">Jekyll</a> theme by <a href="http://averagehuman.org">averagehuman</a>.
            </div>
        </div>
        </section>
    </footer>
    <script src="{{site.base}}/assets/foundation/js/foundation.js"></script>
    <script src="{{site.base}}/assets/foundation/js/foundation.topbar.js"></script>
    <script src="{{site.base}}/assets/js/toc.js"></script>
    <script> $(document).foundation(); </script>
</body>
</html>

