<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{site.keywords}}">
    <meta name="description" content="{{site.description}}">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="{{site.base}}/assets/favicon.ico">
    <link rel="stylesheet" href="{{site.base}}/assets/foundation/css/normalize.css">
    <link rel="stylesheet" href="{{site.base}}/assets/foundation/css/foundation.css">
    <link rel="stylesheet" href="{{site.base}}/assets/iridium/iridium.css">
    <link rel="stylesheet" href="{{site.base}}/assets/foundation/css/general_foundicons.css">
    <link rel="stylesheet" href="{{site.base}}/assets/foundation/css/social_foundicons.css">
    <script src="{{site.base}}/assets/foundation/js/vendor/custom.modernizr.js"></script>
</head>
<body>
    <div id="page-wrap">
        <div id="banner-wrap">
            <div class="row">
                <div class="small-6 columns">
                    <h1 class="banner"><a href="/"><span class="logo-first">Farset</span><span class="logo-second">Labs</span><small class="subheader"> BELFAST</small></a></h1>
                </div>
                <div class="small-6 columns">
                    <ul class="inline-icons inline-list right">
                        <li><a href="#"><i class="social foundicon-facebook"></i></a></li>
                        <li><a href="#"><i class="social foundicon-twitter"></i></a></li>
                        <li><a href="#"><i class="social foundicon-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="primary-nav">
            <div class="row">
                <div class="small-12 columns">
                    <div class="contain-to-grid sticky">
                    <nav class="top-bar" data-topbar>
                        <section class="top-bar-section">
                            <ul class="left">
                                <li><a href="{{site.base}}/">Home</a></li>
                                <li><a href="{{site.base}}/news/">News</a></li>
                                <li><a href="{{site.base}}/events/">Events</a></li>
                                <li><a href="{{site.base}}/membership/">Membership</a></li>
                                <li><a href="{{site.base}}/acknowledgements/">Acknowledgements</a></li>
                                <li><a href="{{site.base}}/about/">About</a></li>
                            </ul>
                        </section>
                    </nav>
                    </div>
                </div>
            </div>
        </div>
        <section id="page-content" class="content">
            <div class="row">
                <div class="small-12 columns">
                    {{content}}
                </div>
            </div>
        </section>
    </div>
    <footer id="footer">
        <section class="attribution">
        <div class="row">
            <div class="small-6 columns">
                Copyright  &copy; Farset Labs 2013.
            </div>
            <div class="small-6 columns text-right">
<a href="http://jekyllrb.com">Jekyll</a> theme by <a href="http://averagehuman.org">averagehuman</a>.
            </div>
        </div>
        </section>
    </footer>
    <script src="{{site.base}}/assets/foundation/js/vendor/jquery.js"></script>
    <script src="{{site.base}}/assets/foundation/js/foundation.js"></script>
    <script src="{{site.base}}/assets/foundation/js/foundation.topbar.js"></script>
    <script> $(document).foundation(); </script>
</body>
</html>

