---
layout: default
---
<div class="post">

    <header class="post-hd">
    <h2>{{ page.title }}</h2>
    <h4 class="meta">Posted on <span class="date">{{ page.date | date_to_string }}</span> by <span class="author">{{ page.author }}</span></h4>
    </header>

    <section class="post-bd">
        {% if page.image_url %}
            <img src="{{site.base}}{{page.image_url}}" class="post-thumb" style="width:auto;height:300px"/>
        {%endif %}
        <div class="post-content">
        {{ content }}
        </div>
    </section>

    <footer class="post-ft">
    </footer>

</div>
